<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item navbar-logo" href="{{{or site.url siteRootPath}}}">
        <span class="navbar-logo-text">{{site.title}}</span>
      </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <!-- <div class="navbar-item">
          <a class="navbar-link" href="#">🕮</a>
        </div> -->
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Setup</a>
          <div class="navbar-dropdown">
            {{#each (componentSorter site.components page.attributes.component-sort-order)}}
              <a class="navbar-item" href="{{{url}}}">{{title}}</a>
            {{/each}}
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Usage</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Notifications</a>
            <a class="navbar-item" href="#">Audiences</a>
            <a class="navbar-item" href="#">Incentivized Links</a>
            <a class="navbar-item" href="#">Email</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Reference</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Strategy A</a>
            <a class="navbar-item" href="#">Strategy B</a>
            <a class="navbar-item" href="#">Strategy C</a>
          </div>
        </div>
        &nbsp;
        &nbsp;
        &nbsp;
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item navbar-item-stretch search hide-for-print">

        <!-- <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search"{{#if page.home}} autofocus{{/if}}>
        </div> -->
        <div class="navbar-item">
          <a class="button" href="https://app.teak.io/" target="_blank">Login</a>
        </div>
      </div>
      {{/if}}
    </div>
  </nav>
</header>
