<footer class="footer globalfooter">
  <header class="globalfooter-info-header">
    <div class="globalfooter-info-logo"><a href="https://teak.io"><img src="{{{uiRootPath}}}/img/teak.svg" class="globalfooter-logo" alt="Teak"></a></div>
  </header>
  <div class="globalfooter-wrapper">
    <div class="globalfooter-info">
      <div class="globalfooter-info-body">Our mission is to give developers the best tools in the industry for acquiring and retaining users.</div>
      <div class="inlinegroup">
        <!-- <span class="inlinegroup-item"><a class="btn btn--dark" href="https://app.teak.io">Request a Demo</a></span> -->
        <span class="inlinegroup-item"><a class="btn btn--secondary" href="https://app.teak.io">Sign in</a></span>
      </div>
      <small class="globalfooter-copywrite">&copy;2022 Teak<sup>&reg;</sup></small>
    </div>
    <nav class="globalfooter-sitemenu">
      <div class="navmenu-list">
        <div class="navmenu-list-item"><a href="https://teak.io/">Home</a></div>
        <div class="navmenu-list-item"><a target=”_blank” href="/">Docs</a></div>
        <div class="navmenu-list-item"><a href="https://teak.io/contact">Contact</a></div>
        <div class="navmenu-list-item">&nbsp;</div>
        <div class="navmenu-list-item">✉️ <a href="mailto:team@teak.io">team@teak.io</a></div>
      </div>
    </nav>
  </div>
</footer>
