.breadcrumbs {
  display: none;
  /* Elaborate hacks to make this the same width as the doc + toc */
  flex: 0 1 calc(var(--doc-max-width--desktop) + var(--toc-width--widescreen) + 2rem);
  padding: 0 0.5rem 0 1rem;
  margin-left: 2rem;
  line-height: var(--nav-line-height);
}

@media screen and (min-width: 1024px) {
  .breadcrumbs {
    display: block;
  }
}

a + .breadcrumbs {
  padding-left: 0.05rem;
}

.breadcrumbs ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  display: inline;
  margin: 0;
}

.breadcrumbs li::after {
  content: "/";
  padding: 0 0.5rem;
}

.breadcrumbs li:last-of-type::after {
  content: none;
}

/* hacky workaround for menu indents */
.breadcrumbs mark {
  background-color: inherit;
  color: inherit;
}
