
.btn {
    background-color: #F15A29;
    color: rgba(255,255,255,0.9);
    padding: 0.4em 0.8em;
    line-height: 1.3em;
    border-radius: 0.25em;
    white-space: nowrap;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}
.btn:hover {
  text-decoration: none !important;
}

.btn--light {
    color: #fff !important;
    background-color: #F15A29;
    font-weight: bold;
}

.btn--dark {
    color: #1e171e !important;
    background-color: #F15A29;
    font-weight: bold;
}

.btn--secondary {
    background: none;
    border: 2px solid #9E9EB6;
    color: #9E9EB6 !important;
}

.btn--teak {
    background: none;
    border: 2px solid #F15A29;
    color: #F15A29 !important;
}
.btn--teak:hover {
  text-decoration: none !important;
  background: #fff;
}
