/* For misc Teak specific styles */

.newsletter-img img {
  border: 6px solid #f3f3e4;
  border-radius: 3px;
}

.doc .exampleblock.newsletter-example>.content {
  border: 6px solid #f3f3e4;
  border-radius: 3px;
}

.doc .imageblock.img-left {
  align-items: start;
  margin-right: 1rem;
  margin-top: 0;
}

/*
.nav-panel-menu hr,
.nav-menu {
  display: none;
}
.nav-menu.is-current-component {
  display: block;
}
*/
